/* Novo estilo CSS para tema das Olimpíadas */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #4CAF50, #FFEB3B); /* Degradê entre verde e amarelo */
}

header {
  text-align: center;
  padding: 20px;
  background-color: #FF5722; /* Cor laranja para destacar o cabeçalho */
}

.logo-container img {
  max-width: 250px;
  height: auto;
  /*border: 5px solid #FFFFFF; /* Borda branca para destacar o logotipo */
  border-radius: 50%; /* Deixa o logotipo em formato circular */
}

.maratona-text {
  font-size: 28px;
  color: #FFFFFF;
  margin-top: 10px;
  text-transform: uppercase; /* Texto em maiúsculas para dar mais destaque */
  font-weight: bold; /* Texto em negrito */
}

main {
  text-align: center;
  padding: 20px;
}

.training-box {
  background-color: rgba(0, 0, 0, 0.7); /* Preto com 70% de opacidade */
  border: 3px solid #FFD700; /* Contorno dourado */
  border-radius: 15px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra para dar profundidade */
}

.video-container {
  margin-top: 20px;
}

.test-button {
  display: inline-block;
  padding: 15px 25px;
  background-color: #2196F3; /* Azul para destaque */
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 15px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  font-size: 18px; /* Aumenta o tamanho da fonte */
  font-weight: bold; /* Texto em negrito */
}

.test-button:hover {
  background-color: #FFFFFF;
  color: #2196F3;
}
